* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --wheat: #EAD2AC;
    --rich-mahogany: #2A0800;
    --ebony: #575C55;
    --terracotta-clay: #B26E63;
    --charcoal-brown: #3F4739;

    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    margin: 0;
    font-family: 'Lora', serif/*'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/;
    line-height: 1.6;
    color: var(--rich-mahogany);
    background-color: var(--wheat);
}

body.dark {
    background-color: var(--ebony);
    color: var(--wheat);
}

header {
    background-color: var(--charcoal-brown);
    color: var(--wheat);
    /*max-width: 1200px;*/
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
}

header.dark {
    background-color: var(--charcoal-brown);
    color: var(--wheat);
}

nav {
    background-color: var(--charcoal-brown);
    border-top: 2px solid var(--ebony);
    color: var(--wheat);
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.dark {
    background-color: var(--charcoal-brown);
}

nav a {
    color: var(--rich-mahogany);
    text-decoration: none;
    margin-left: 2rem;
}

nav a:hover {
    color: var(--terracotta-clay);
}

main {
    /*max-width: 1200px;*/
    margin: 1rem auto;
    padding: 0 1rem;
}

section {
    /*margin-bottom: 2rem;*/
    background-color: var(--charcoal-brown);
    color: var(--wheat);
    display: inline-block;
    padding: 2rem;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow:auto;
    border-radius: 3px;
}

section h2 {
    text-decoration: underline;
}

#about {
    width: 33%;
    height: 300px;
}

#projects {
    width: 66%;
    height: 300px;
}

#projects a {
    color: var(--terracotta-clay);
    text-decoration: none;
}

#photography {
    width: 66%;
    height: 300px;
}

#contact {
    width: 33%;
    height: 300px;
}

footer {
    background-color: var(--charcoal-brown);
    color: var(--wheat);
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

#theme-toggle {
    font-family: 'Lora', serif;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--wheat);
    color: var(--charcoal-brown);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}